<section class="text-center text-white d-flex flex-column justify-content-center align-items-center vh-100" >

  <h1 class="text-uppercase fw-bolder">about component</h1>
  <div class="line-star d-flex justify-content-center align-items-center my-3">
    <div class="line"></div>
    <div class="star">★</div>
    <div class="line"></div>
  </div>
  <div class="container ">
    <div class="row px-5 text-start">
      <div class="col-md-6 ps-md-5">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-md-6 ps-md-5">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>
</section>
