
<section class="text-white d-flex justify-content-between align-items-center vh-100 ">
  <div class="container profile text-center" >
    <div class="profile-img">
        <img src="/image/9649618-removebg-preview.png" alt="Avatar" class="w-25">
    </div>
    <div class="p-5">
      <h1 class="fw-bolder">Im Just Girl🎀</h1>
      <div class="line-star">
        <div class="line"></div>
        <div class="star">★</div>
        <div class="line"></div>
      </div>
      <div class="divider p-2"></div>
      <p class="role">Graphic Artist - Web Designer - Illustrator</p>
    </div>

  </div>

</section>
